*,*::before,*::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}
html {
  /* override */
  display: block;
  /* handle icon-font & emoji */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* fix background-color on android webview */
  background-color: gray;
  /* fix layout*/
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* fix scroller */
  overflow: hidden;
}
body {
  display: block;
  margin: 2.5%;
  background-color: white;
  color: black;
  /* continue scroll */
  overflow: auto;
  padding: 2.5%;
  width: auto;
  /* fonts */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5em;
  /* tab */
  tab-size: 4;
  /**/
  overflow-wrap: break-word;
}
