/* == Global ===== */
/* from 'visual studio code' */
:root {
	--font-family_sans-serif_1: Arial, Helvetica, sans-serif;
	--font-family_sans-serif_2: Verdana, Geneva, Tahoma, sans-serif;
	--font-family_sans-serif_3: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	--font-family_sans-serif_4: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	--font-family_sans-serif_5: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	--font-family_sans-serif_6: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	--font-family_sans-serif_7: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	--font-family_sans-serif_8: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	--font-family_serif_1: 'Times New Roman', Times, serif;
	--font-family_serif_2: Georgia, 'Times New Roman', Times, serif;
	--font-family_serif_3: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	--font-family_mono: 'Courier New', Courier, monospace;
}