html {
  background-color: gray; /* fix background-color on android webview */
  height: 100%; /* fix layout */
}

body {
   /* fix background-color on android webview */
  background-color: white;
  color: black;
  /* handle icon-font & emoji */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* initial */
  margin: 2.5%;
  padding: 2.5%;
  line-height: 1.5em;
}